<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.5.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="NuGet.Client" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.ContentModel" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Frameworks" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Repositories" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.RuntimeModel" version="4.2.0" targetFramework="net451" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net451" />
</packages>